/* Start variables */
:root {
    
}
/* End variables */
/* Start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Rajdhani', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    min-height: 97px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 90%;
    }
}
/* Large */ 
@media (min-width: 1200px) {
    .container {
        width: 90%;
    }
}
/* End global rules */
/* Start components */

/* End components */
/* Start header */
header {
    width: 100%;
    background-image: url(../imgs/blue.jpeg);
    position: fixed;
    box-shadow: 0px  1px 7px #ddd;
}
header .container span {
    font-size: 10px;
    float: right;
    margin-top: -20px;
    margin-bottom: 20px;
}
header .container .box {
    flex: 1;
}
header .container ul li a {
    transition: .3s;
    color: #ccc;
}
header .container ul li a:hover {
    color: white;
}
@media (min-width: 801px) {
    header .container .toggle-menu {
        display: none;
    }
}
header .container .login a {
    padding: 10px 25px;
    position: relative;
    transition: .3s;
    display: block;
    text-align: center;
}
header .container .login a:hover {
    color: #ccc;
}
@media (max-width: 800px) {
    header .container {
        justify-content: space-between;
        position: relative;
    }
    header .container .toggle-menu {
        display: block;
        font-size: 25px;
    }
    header .container .box {
        display: none;
    }
    header .container .toggle-menu:hover + .box {
        display: block;
        position: absolute;
        top: 106%;
        width: 100%;
        height: 100vh;
        left: 0;
        right: 0;
        background-image: url(../imgs/blue.jpeg);
        padding-top: 20px;
        z-index: 22;
    }
    header .container .toggle-menu:hover + .box ul ,
    header .container .toggle-menu:hover + .box .login {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
    header .container .toggle-menu:hover + .box .login a {
        width: 95%;
    }
}
/* End header */
/* Start landing */
.landing {
    height: 100vh;
    background-image: url(../imgs/blue.jpeg);
}
.landing .container {
    padding-top: 200px;
}
.landing .container .img {
    animation: up-and-down linear 3.7s infinite;
    position: relative;
}
@media (max-width: 1240px) {
    .landing .container .img {
        display: none;
    }
    .landing .container .text {
        text-align: center;
    }
}
.landing .container h1 {
    font-size: 55px;
}
@media (max-width: 1240px) {
    .landing .container h1 {
        font-size: 39px;
    }
}
.landing .container a {
    padding: 10px 20px;
    box-shadow: 0 0 5px #ddd;
    transition: .3s;
}
@media (max-width: 1240px) {
    .landing .container a {
        margin-left: auto;
        margin-right: auto;
    }
}
.landing .container a:hover {
    background-color: #0d69d5;
    color: white;
}
/* End landing */
/* Start animation */
@keyframes up-and-down {
    0% ,100%{
        bottom: 0;
    }
    50% {
        bottom: -15px;
    }
}
/* End animation */
